<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtYhLQIiY-Xw4gybERdY6oFiMso0sjUEo</string>
	<key>GCM_SENDER_ID</key>
	<string>157783120671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unichat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unichat-ca129</string>
	<key>STORAGE_BUCKET</key>
	<string>unichat-ca129.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157783120671:ios:0b8eb3f26e6eec8e1b2e2a</string>
	<key>DATABASE_URL</key>
	<string>https://unichat-ca129-default-rtdb.firebaseio.com</string>
</dict>
</plist>